sudo: required
services:
 - docker

language: go
go:
  - 1.11

jobs:
  include:

    - stage: Tests
      name: Unit Tests
      before_install:
        - go get github.com/mattn/goveralls
      install:
        - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
        - dep ensure -v
      script:
        - go test -v -covermode=count -coverprofile=coverage.out ./...
        - $GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN

    - stage: Build
      name: Container Build
      if: branch = master
      install: skip
      script:
        - export IMAGE=$DOCKER_USER/$DOCKER_REPOSITORY
        - export TAG="latest"
        - docker build -f Dockerfile -t $IMAGE:$TAG .